<% content_for :head do %>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
    <style>
      .btn-file {
        position: relative;
        overflow: hidden;
      }

      .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
      }

      .tokenfield {
        height: 100%;
      }
    </style>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Talep girişi</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Talebinizi giriniz
      </div>


      <%= form_for(@demand, :html => {:role => 'form'}) do |f| %>
          <div class="panel-body">


            <div class="form-group">
              <%= f.label :content, "İçeriği" %>
              <%= f.text_area :content, :autofocus => true, class: 'form-control', :multipart => true %>
            </div>
            <div class="form-group">
              <%= f.label :emails, "İlgili emaillar" %>
              <%= f.text_area :emails, style: "visibility:hidden;" %>
            </div>
            <div class="form-group">
              <%= f.label "İlgili firmayı seçin" %><br>
              <%= select_tag "demand[vendor_company_id]", options_from_collection_for_select(Company.all, "id", "name"), class: "selectpicker", "data-live-search" => "true" %>
            </div>
            <span class="btn btn-primary btn-file"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Dosya yükle
              <%= f.file_field :datafile %>
              <div id="file_name"></div>
            </span>
          </div>

          <div class="panel-footer">
            <%= f.submit "Kaydet", class: "btn btn-success" %>

          </div>

      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">


    $(document).ready(function () {
        $('input[type=file]').change(function () {
            $('#file_name').html($(this).val());
        });

        $('#demand_emails').on('tokenfield:createtoken', function (e) {
            var data = e.attrs.value.split('|')
            e.attrs.value = data[1] || data[0]
            e.attrs.label = data[1] ? data[0] + ' (' + data[1] + ')' : data[0]
        })

            .on('tokenfield:createdtoken', function (e) {
                // Über-simplistic e-mail validation
                var re = /\S+@\S+\.\S+/
                var valid = re.test(e.attrs.value)
                if (!valid) {
                    $(e.relatedTarget).addClass('invalid')
                }
            })

            .on('tokenfield:edittoken', function (e) {
                if (e.attrs.label !== e.attrs.value) {
                    var label = e.attrs.label.split(' (')
                    e.attrs.value = label[0] + '|' + e.attrs.value
                }
            }).tokenfield({
            autocomplete: {
                source: <%=User.where("company_id in (?)",[current_user.legal_company_id,current_user.company_id]).map{|u|u.email}.to_s.html_safe%>,
                delay: 10
            },
            showAutocompleteOnFocus: true
        });


    });

</script>